form{
    padding-top: 20px;
    min-width: 100%;
    
}


footer {
    margin-top: 400px;
    padding-top: 10px;
    
    height: 70px;  
    text-align: center; 
    background-color: maroon;         
    }

    button{
        color: rgb(255, 2, 2);
   background-color: black;
   border-color: maroon;
   border-radius: 10px;
    }

    row{
        border-color: black;
    }

    @media  screen and(max-width: 767px){
        .footer{
            margin-right: -10px;
        }

        
    }
